<div class="list row">
  <div class="col-md-6">
    <h4>ninios List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ninio of ninios; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveninio(ninio, i)"
      >
        {{ ninio.title }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentninio">
      <app-ninio-details
        (refreshList)="refreshList()"
        [ninio]="currentninio"
      ></app-ninio-details>
    </div>

    <div *ngIf="!currentninio">
      <br />
      <p>Please click on a ninio...</p>
    </div>
  </div>
</div>
