.section-form {
  margin: 1%;
}

.text-bold{
  font-weight: bold;
  font-size: 1.1rem;
}
.text-center{
  text-align: center !important;
  width: 100% !important;
}
li.list-group-item.d-flex.align-items-justify.list-group-item-light.pull-right span {
  display: block;
  text-align: right;
  width: 100%;
}
.col-sm.formButtons {
  margin: 5px;
}
.col-sm.formButtons button.btn-success {
float: left;
}
.col-sm.formButtons button.btn-danger {
  float: right;
  }
  span#imagenFaseLuna {
    font-size: 1.8em;
  }
@media only screen and (max-width: 600px) {
  .col-sm.formButtons button {
    width: 100%;
    margin: auto;
    margin-bottom: 5px;
  }
}
